@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --Text-color: #EDEDED;
    --Primary-color: #171717;
    --Secundary-color: #DA0037;
    --hover-color: #444444;
}

body {
    box-sizing: border-box;
    color: var(--Text-color);
    background-color: var(--Primary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headerContent {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: solid 1px var(--Secundary-color);
    width: auto;
}

.headerContent__Title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--Secundary-color);
}

.headerContent__Nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 9px;
    border-left: solid 1px var(--Secundary-color);
}

.headerContent__Nav__Buttons {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--Secundary-color);
    padding: 8px;
    border: solid 1px none;
    border-radius: 6px;
}

.headerContent__Nav__Buttons:hover {
    background-color: var(--hover-color);
    transition: 0.7s;
}

.mainContent {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 8% 20% 13% 18%;
    justify-content: center;
    gap: 40px;
}

.mainContent__Section__Text {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 35%;    
}

.mainContent__Title {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    color: var(--Secundary-color);
}

.mainContent__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.mainContent__text__strong {
    color: var(--Secundary-color);
    font-weight: 600;
}

.mainContent__Section__Buttons {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 25px;
    text-align: center;
}

.mainContent__Buttons {
    border:solid 1px var(--Secundary-color);
    color: var(--Text-color);
    font-family: 'Montserrat', sans-serif;
    padding: 14px 30px;
    border-radius: 6px;
}

.mainContent__Buttons:hover {
    background-color: var(--hover-color);
    transition: 0.8s;
}

.footerContent {
    display: flex;
    justify-content: center;
    border-top: solid 1px var(--Secundary-color);
    padding: 12px;
}

.footer__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: var(--Text-color);
    text-align: center;

}


/* ############# */
/* curriculo css */
/* ############# */
.curriculum__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 1%;
    gap: 40px;
}

.myProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 1%;
}

.myProfile h2 {
    font-family: 'Lexend', sans-serif;
    color: var(--Text-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.myProfile p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--Text-color);
    padding: 1% 3%;
}

.informations__skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: flex-start;
}

.informations__skills h2 {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--Text-color);
}

.informations__skills__text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--Text-color);
}

.myPersonalInformation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mySkills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mySkills__text{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        color: var(--Text-color);
}

.myExperiences {
    display: flex;
    flex-direction: column;
    width: auto;
}

.myExperiences__title, .myAcademicTraining__title {
    font-family: 'Lexend', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--Text-color);
}

.myExperiences__cards {
    display: flex;
    width: auto;
    justify-content: left;
    gap: 30px;
    flex-wrap: wrap;
    padding: 1% 3%;
}

.Experiences {
    padding: 1%;
    border-radius: 8px;
    border: solid 1px var(--Secundary-color);
}

.Experiences h2, .AcademicTraining h2 {
    font-family: 'Lexend', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--Text-color);
}

.Experiences p, .AcademicTraining p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.myAcademicTraining {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 1%;
}


.AcademicTraining__cards {
    display: flex;
    width: auto;
    justify-content: left;
    gap: 30px;
    flex-wrap: wrap;
    padding: 1% 3%;
}

.AcademicTraining {
    padding: 1%;
    border-radius: 8px;
    border: solid 1px var(--Secundary-color);
}




/* ############# */
/* RESPONSIIDADE */
/* ############# */

@media (max-width: 1200px) {
    .mainContent {
        padding: 20% 2%;
    }

}

@media (max-width: 900px) {
    .mainContent {
        flex-direction: column;
    }

    .informations__skills {
        flex-direction: column;
    }

    .mainContent__Section__Text {
        width: 90%;
    }
    .mainContent__Section__Buttons {
        width: 60%;
    }
}
